<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arba.orilampung">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DraftActivity"
            android:label="Draft"
            android:parentActivityName=".BuatAjuanActivity"
            android:theme="@style/faq"/>
        <activity
            android:name=".NavActivity"
            android:label="@string/title_activity_nav" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPWActivity"
            android:label="Setel Ulang Kata Sandi"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/faq" />
        <activity
            android:name=".PanduanActivity"
            android:label="Panduan Aplikasi"
            android:parentActivityName=".NavActivity"
            android:theme="@style/faq" />
        <activity
            android:name=".ActivityFAQ"
            android:label="FAQ"
            android:parentActivityName=".ProfilOmbudsman"
            android:theme="@style/faq" />
        <activity
            android:name=".ActivityMedia"
            android:label="Media"
            android:parentActivityName=".NavActivity"
            android:theme="@style/faq" />
        <activity
            android:name=".BuatAjuanActivity"
            android:label="Buat Aduan"
            android:parentActivityName=".NavActivity"
            android:theme="@style/faq" />
        <activity
            android:name=".LacakAduanActivity"
            android:label="Lacak Aduan"
            android:parentActivityName=".NavActivity"
            android:theme="@style/faq" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisActivity"
            android:label="Form Registrasi"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/faq" />
        <activity
            android:name=".ProfilOmbudsman"
            android:label="Profil Ombudsman"
            android:parentActivityName=".NavActivity"
            android:theme="@style/faq" />
        <activity
            android:name=".SekilasOmbudsmanActivity"
            android:label="Sekilas Ombudsman"
            android:parentActivityName=".ProfilOmbudsman"
            android:theme="@style/faq" />
        <activity
            android:name=".VisiMisiActivity"
            android:label="Visi dan Misi Ombudsman"
            android:parentActivityName=".ProfilOmbudsman"
            android:theme="@style/faq" />
        <activity android:name=".VideoEdukasiActivity" />

        <service android:name=".MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>
    </application>

</manifest>